@font-face {
	font-family: Shabnam;
	src: url("https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.eot");
	src: url("https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.eot?#iefix") format("embedded-opentype"),
		url("https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.woff2") format("woff2"),
		url("https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.woff") format("woff"),
		url("https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.ttf") format("truetype");
	font-weight: normal;
}
body {
  margin: 0;
  font-family: 'Shabnam'  
   , 'Times New Roman', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Times New Roman',
    monospace;
}

p {
  margin-top: auto !important;
  
}

b{
  font-family: 'Shabnam' !important;
}


@import 'handsontable/dist/handsontable.full.min.css';

